.tagline{
    margin:30px;
    margin-left: 30px;
    border:10px whitesmoke solid;
    width:700px;
    margin-top:70px;
    border-radius:30px;
    font-family:serif;
    color:red
    
}
.navbar-brand{
    color: blueviolet;
}
.ok{
    height:500px;
}
.gap{
    height:90px;
    width:30px;
    border:black 10px solid;
    position: absolute;

}
.card{
    padding:20px;
    margin:30px;
    margin-right: 50px;
    margin-left: 140px;
}
.image{
    display:flex;
    flex-wrap: wrap;
}
.ab{
    color:blue
}
.cd{
    color:brown
}
.ef{
    color:goldenrod
}
.intro{
    color:brown;
    margin:10px 190px;

}
.intr{
    position:relative;
    left:460px;
    color:goldenrod
}
.intra {
    background-color: blue;
    border-radius: 5px;
    position:relative;
    left:510px;
    color:whitesmoke
}
.footer{
    display:flex;
    position:relative;
    left:700px;
    font-size:20px;
}